body{
    background: url(img/math.png);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

h3{
    text-align: center;
}

.botao_calculo{
    background:black;
    color:white;
}
.botao_calculo:hover{
    border: white;
}

.texto_comando{
    font-style: bold;
}

a{
    text-decoration: none;
    color: blue;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}



